<template name="ItemShow">
  {{#contentFor "headerTitle"}}
    <h1 class="title">ObjectSearch</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
     item Form
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="ObjShow">
  {{#contentFor "headerTitle"}}
    <h1 class="title">ObjectSearch</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
     item Form
    {{/ionContent}}
  {{/ionView}}
</template>