<template name="locations">
  {{#contentFor "headerTitle"}}
    <h1 class="title">ObjectSearch</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="locationAdd">{{> ionIcon icon="ios-plus-empty"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Keywords">
      </label>
      <button class="button button-outline button-balanced">
        Search
      </button>
      </div>

     {{#ionList class="my-class"}}
        {{#each locList}}
          {{#ionItem path="object.show" buttonRight=true avatar=true class="my-class" id="my-id"}}
            <h2>{{name}}</h2>
            <button class="button button-positive button-clear">
              {{> ionIcon icon="ios-arrow-right" }}
            </button>
          {{/ionItem}}
        {{/each}}

     {{/ionList}}

    {{/ionContent}}
  {{/ionView}}
</template>